@{

    Layout = "~/Views/Shared/_LayoutMovie.cshtml";

}


<main>
    <h1><b>GIỚI THIỆU</b></h1>
    <div class="button-container">
        <button id="button1">Giới thiệu chung</button>
        <button id="button2">Giới thiệu dịch vụ</button>
        <button id="button3">Phòng chiếu</button>
    </div>

    <div class="container">


        <!-- giới thieeuj -->
        <div id="content1">
            <div>
                <img src="~/assests/img/about-img/MOVIZZ.png" alt="MOVIZZ">
            </div>
            <div>
                <p>
                    <br>Movizz Cinema được thành lập ngày 23 tháng 09 năm 2023, trụ sở chính đặt tại
                    số 3, phố Cầu Giấy, phường Láng Thượng, Quận Đống Đa, thành phố Hà Nội.
                </p>
                <p>Movizz Cinema được thành lập với mục tiêu đem tới khách hàng các bộ phim chất lượng và dịch vụ chất lượng tốt nhất, giá cả hợp lý nhất; </p>
                <p>
                    Với sứ mệnh mong muốn mang tới giá trị văn hóa hiện đại và chất lượng, Movizz luôn lắng nghe, nghiên cứu nhằm thấu hiểu và
                    thoả mãn nhu cầu của khách hàng, tận tâm đem đến chất lượng dịch vụ hàng đầu.
                </p>

            </div>
        </div>

        <!-- dich vu -->
        <div id="content2">
            <div>
                <p>
                    Nằm tại vị trí trung tâm trên, Movizz Cinema được thiết kế hiện đại, khu để xe rộng rãi, giao thông thuận tiện.
                    Đây là một địa chỉ quen thuộc và yêu mến đối với những người yêu điện ảnh Thủ đô và cả nước.
                </p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/dv.jpg" alt="">
                </div>

                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/dv1.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/about-4.png" alt="">
                </div>

            </div>
        </div>


        <!-- pc -->
        <div id="content3">
            <div>
                <p>
                    Movizz Cinema được thiết kế đa năng với hệ thống rạp chiếu phim hiện đại gồm 14 phòng chiếu, trình
                    chiếu được tất cả các thể loại phim: 2D, 3D cùng với tổ hợp Khu trưng bày điện ảnh Biểu diễn nghệ thuật
                    Tổ chức sự kiện và các dịch vụ giải trí để phục vụ khán giả. Các phòng chiếu phim của Trung tâm có tổng
                    cộng 2.365 chỗ ngồi với hơn 60 suất chiếu/ ngày. Phòng lớn nhất 402 chỗ, phòng nhỏ nhất 98 chỗ.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/pc.jpg" alt="">
                </div>

                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/pc1.webp" alt="">
                </div>

                <div class="col-md-4 col-sm-12">
                    <img src="~/assests/img/about-img/pc2.webp" alt="">
                </div>
            </div>

        </div>

    </div>
</main>


