@{

    Layout = "~/Views/Shared/_LayoutMovie.cshtml";

}


<main>
    <div class="container">
        <h1>KHUYẾN MÃI</h1>
        <div class="grid">
            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/KM1.jpg" alt="khuyen mai">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day">01/10/2023</p>
                        <h3>MOVIZZ TẶNG HÀNG NGÀN MÃ GIẢM GIÁ</h3>
                    </a>

                </div>
            </div>


            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/KM1.jpg" alt="">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day">07/07/2023</p>
                        <h3>ƯU ĐÃI DÀNH CHO U22</h3>
                    </a>

                </div>
            </div>


            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/KM2.jpg" alt="khuyen mai">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day" class="day">29/06/2023</p>
                        <h3>VPBank - MUA 2 VÉ CHỈ VỚI 95K</h3>
                    </a>

                </div>
            </div>


            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/combo.webp" alt="khuyen mai">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day">15/08/2022</p>
                        <h3>ƯU ĐÃI "XEM PHIM THẬT HAY - COMBO THẬT ĐÃ"</h3>
                    </a>
                </div>
            </div>


            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/specialMonday.webp" alt="khuyen mai">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day">01/06/2022</p>
                        <h3>SPECIAL MONDAY <br>ĐỒNG GIÁ 50.000/VÉ 2D THỨ 2 CUỐI THÁNG </h3>
                    </a>

                </div>
            </div>


            <div class="item-km">
                <div class="img">
                    <img src="~/assests/img/sale-page-img/0012851.webp" alt="khuyen mai">
                </div>
                <div class="content">
                    <a href="">
                        <p class="day">17/05/2022</p>
                        <h3>ĐỒNG GIÁ 49K - NHỮNG CHÚ CHÓ HOÀNG GIA</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

